
@{
    @model clbinsaat.Data.user
    ViewBag.Title = "ÜYE OL VEYA GİRİŞ YAP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ÜYE OL VEYA GİRİŞ YAP</h2>

@using(Html.BeginForm("Autherize","uye",FormMethod.Post))
{
<table>
    <tr>

        <td></td>
        <td>GİRİŞ YAP</td>

    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.userName)</td>
        <td>@Html.EditorFor(model => model.userName)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ValidationMessageFor(model => model.userName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.userPass)</td>
        <td>@Html.EditorFor(model => model.userPass)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ValidationMessageFor(model => model.userName)</td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" name="name" value="Login" /></td>
    </tr>
</table>
}